html {
    background-color: #343a40;
}

body, html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-weight: 400;
}

body {
    font-size: 62.5%;
    color: #fff;
}

.presenting {
    background-color: #262c30;
    background-image: url("../images/presentation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.presenting .presenting-inner {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 130px 10px;
}

img.presenting-logo {
    width: 70em;
    padding-left: 0.1em;
    padding-right: 0.2em;
}

.company-call {
    font-size: 4em;
    padding: 35px 0;
    padding-bottom: 70px;
    text-shadow: 2px 2px black;
}

.oi {
    margin-right: 15px;
}

button {
    text-transform: uppercase;
}

.company-about-button {
    font-size: 1.5em;
    text-shadow: 1px 1px #343a40;
}

nav.navbar {
    font-size: 2em;
    background-color: #0b171e !important;
}

@media screen and (min-width: 1000px){
    nav.navbar {
        padding: 0 5em;
    }
}