/***************** Página Contatos ****************/
/* Estilos Gerais */
body {
    background-color: #0b171e;
}
section {
    color: #fff;
    font-size: 1.7em;
}

.contact-form {
    padding: 3em 10em;
}

/* Media Queries */
@media screen and (max-width: 1200px){
    .contact-form {
        padding: 3em !important;
    }
}