/* Estilos Gerais */
body, html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-weight: 400;
}

html {
    background-color: #343a40;
}

body {
    font-size: 62.5%;
    color: #fff;
}

p {
    margin: 1em 0;
}

/* Estilos Cabeçalho (Apresentação) */
.presenting {
    background-color: #262c30;
    background-image: url("../images/presentation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.presenting .presenting-inner {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 130px 10px;
}

img.presenting-logo {
    width: 70em;
    padding-left: 0.1em;
    padding-right: 0.2em;
}

.company-call {
    font-size: 4em;
    padding: 35px 0;
    padding-bottom: 70px;
    text-shadow: 2px 2px black;
}

.oi {
    margin-right: 15px;
}

/* Estilos Navbar */
button {
    text-transform: uppercase;
}

.company-about-button {
    font-size: 1.5em;
    text-shadow: 1px 1px #343a40;
}

nav.navbar {
    font-size: 2em;
    background-color: #0b171e !important;
}

/* Estilos Containers */
/* Seção "Sobre A Empresa" */
.company-about-section {
    background-image: url("../images/business-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    margin: 0;
    padding: 40px 10px;
}

.company-about-inner p, .company-about-inner h2 {
    color: #87868a;
}

.company-about-inner {
    position: relative;
    margin-left: 2em;
}


.company-about-inner p {
    color: #0b171e;
    font-size: 2em;
}

/* Media Queries */
@media screen and (min-width: 1000px){
    nav.navbar {
        padding: 0 5em;
    }
}