/* Estilos Gerais */
a {
    cursor: pointer;
}
body, html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-weight: 400;
}

html {
    background-color: #343a40;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {
    font-size: 62.5%;
    color: #fff;
    margin-bottom: 60px;
}

p {
    margin: 1em 0.5em 1em 0;
}

h1, h2, h3, h4, h6 {
    color: #87868a;
    text-transform: uppercase;
    text-shadow: 0.5px 0.5px #000;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Estilos Cabeçalho (Apresentação) */
.presenting {
    background-color: #262c30;
    background-image: url("../images/presentation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.presenting .presenting-inner {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 130px 10px;
}

img.presenting-logo {
    width: 70em;
    padding-left: 0.1em;
    padding-right: 0.2em;
}

.company-call {
    font-size: 4em;
    padding: 35px 0;
    padding-bottom: 70px;
    text-shadow: 2px 2px black;
}

.oi {
    margin-right: 15px;
}

/* Estilos Navbar */
#navbar-company-about:hover {
    cursor: pointer;
}

button {
    text-transform: uppercase;
}

#company-about-button {
    font-size: 1.5em;
    text-shadow: 1px 1px #343a40;
}

nav.navbar {
    font-size: 2em;
    background-color: #0b171e !important;
}

#btn-portfolio, .dropdown-toggle-split {
    background-color: #0b171e;
    color: rgba(255,255,255,.5);
    text-transform: capitalize;
    font-size: inherit !important;
}

#btn-portfolio:hover, .dropdown-toggle-split:hover, #btn-portfolio:focus, .dropdown-toggle-split:focus {
    color: rgba(255,255,255,.75);
}

#btn-portfolio {
    padding-right: 0.1em;
}

.dropdown-menu {
    border: 1px solid #e9ecef;
    background-color: #0b171e;
}

.dropdown-menu > .dropdown-item {
    color: #fff;
}

.dropdown-menu > .dropdown-item:hover {
    color: #0b171e;
    background-color: rgba(255,255,255,.75);;
}

/* Estilos Containers */

.section {
    margin: 0;
    margin-top: 5em;
    padding: 40px 10px;
    padding-top: 0px;
}
/* Seção "Sobre A Empresa" */
#company-about-section {
    background-image: url("../images/business-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-color: #fff;
}

#company-mission-section {
    margin-top: 0em !important;
    padding-top: 15em;
    background-image: url("../images/business-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #0b171e !important;
}

#company-vision-section {
    height: 29em;
    background-image: url("../images/business-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-color: #fff;
}

#company-values-section {
    margin-top: 0em !important;
    padding-top: 15em;
    background-image: url("../images/business-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #0b171e !important;
}

.section-left {
    position: relative;
    margin-left: 2em;
    color: #0b171e;
    background-color: #fff !important;
}

.section-right {
    position: relative;
    margin-right: 2em;
    top: -6em;
    color: #fff;
}

.section-inner p {
    font-size: 2em;
}

.company-vision-inner {
    top: 6em;
}

/* Estilos Rodapé */
.footer {
    font-size: 1.7em;
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #0b171e;
}

/* Media Queries */

@media screen and (max-width: 1200px){
    #company-values-section {
        background-position: -20em 0em !important;
    }

    #collapseFour > .card-body {
        background-position: bottom !important;
    }
}

@media screen and (max-width: 1083px){
    .section {
        margin-top: 0;
        padding-top: 40px;
    }

    #company-vision-section {
        background-position: -1em -2.5em !important;
    }
}

@media screen and (min-width: 1000px){
    nav.navbar {
        padding: 0 5em;
        border-bottom: 1px solid #e9ecef;
    }
}

@media screen and (max-width: 971px){
    #company-about-section {
        background-position: 55% -31px;
    }
}

@media screen and (max-width: 1015px){
    .section-inner {
        max-width: 98%;
    }
    .section {
        background-image: none !important;
    }
    .section-right {
        margin-right: auto;
    }
}

 @media (max-width: 767px) {
    .dropdown-menu > .dropdown-item {
        white-space: normal !important;
    }

    .navbar-text {
        display: none;
    }
 }

@media screen and (max-width: 665px){
    .container.contact-form {
        padding: 2em 1em !important;
    }
}

@media screen and (max-width: 513px){
    .section-left {
        margin-left: 0;
    }
    
    .container-fluid {
        max-width: 100% !important;
    }
}

@media screen and (max-width: 488px){
    body {
        margin-bottom: 120px;
    }
    .footer {
        height: 120px;
    }    
}

@media screen and (max-width: 473px){
    #copyright-wrap {
        display: block !important;
    }
}

@media screen and (max-width: 405px){
    .wrap {
        display: block !important;
    }
}

@media screen and (max-width: 350px){
    .container-fluid {
        width: 98% !important;
    }
}

/* Media Queries Compostas */

@media (min-width: 768px) and (max-width: 1000px) {
    .collapse {
        display: none !important;
    }
 }

 @media (min-width: 575px) and (max-width: 767px) {
    .container.contact-form {
        max-width: none !important;
    }
 }